#About{
	position: absolute;
	top:0;
	left:0;
	margin:0;
	display: none;
	background-color: rgba(0, 0, 0, 0.5);
	@extend %full-width-and-height;

	
}
#About.active{
		z-index: 5000;
		@extend %flex-column;
		justify-content:center;
		align-items:center;


		#About-content{
			@extend %flex-column;
			padding:10px;
			background-color: white;
			width:60%;
			height:60%;
			overflow-y:auto;

			section div{
				margin-bottom: 10px;
			}
		}

		.modal-header{
			@extend %flex-column;
			justify-content:center;
			align-items:center;
			text-align: center;


			#About-close{
				align-self:flex-end;
			}
		}

		a:hover{
			cursor: pointer;
		}
	}