

#Controller{
	padding:2px;
	@extend %flex-row;
	@extend %outer-margin;
	justify-content:flex-start;
	align-items: center;
	// flex-wrap:wrap;
	background-color:white;
	border:2px solid $mint;
	// box-shadow: 3px 3px $papaya;
	border-radius: 8px;
	// turn it into a hamburger
  // overflow: hidden;


	// .icon {
	//   display: none;
	// }

	// @media screen and (max-width: 800px) {
	//   .controller-container {visibility: hidden;}
	//   .icon {
	//   	position: absolute;
	//     right: 0;
	//     top: 0;
	//     display: block;
	//     z-index: 1000;
	//   }
	// }

	// @media screen and (max-width: 800px) {
	//   .controller-container.responsive {position: relative;}
	//   .controller-container.responsive .icon {
	//     position: absolute;
	//     right: 0;
	//     top: 0;
	//   }
	//   .controller-container.responsive{
	//     float: none;
	//     visibility:visible;
	//     text-align: left;
	//   }
	// }


	.controller-container{
		@extend %flex-row;
	}

	#Focal-Unit-Selectors, #Variable-Selectors{
		align-items:flex-end;
		margin-right: 10px;
	}

	#Focal-Unit-A-Selector{
		margin-right: 10px;

		label{
			color: $papaya;
		}
	}
	#Focal-Unit-B-Selector{
		label{
			color: $mint;
		}
	}

	#Variable-X-Selector{
		margin-right: 10px;
	}

	.selector-container{
		@extend %flex-row;

	}

	.dropdown-selector{
		@extend %flex-column;
		justify-content:flex-start;
		max-width:160px;

		label{
			font-size: 10px;
		}
	}



}

@media screen and (max-width:980px){
	#Controller{
		min-height:100px;

		.controller-container{
			flex-direction:column;
		}
	}

}