

#Controller{
	padding:2px;
	@extend %flex-row;
	@extend %outer-margin;
	justify-content:flex-start;
	align-items: center;
	background-color:white;
	border:2px solid $white;

	.controller-container{
		@extend %flex-row;
		justify-content:center;
		align-items:center;
		width:100%;

		.controller-text{
			font-size: 40px;
			margin:0px 20px 0px 10px;
			letter-spacing: -1px;
			font-weight: 700;
			color:$midnight;
		}
	}

	// #Focal-Unit-Selectors, #Variable-Selectors{
	// 	align-items:flex-end;
	// 	margin-right: 10px;
	// }

	#Focal-Unit-Selectors{
		@extend %flex-row;
		flex-wrap:wrap;
	}

	#Variable-Selectors{
		@extend %flex-row;
		flex-wrap:wrap;
	}



	#Focal-Unit-A-Selector{
		margin-right: 10px;

		label{
			color: $papaya;
		}
	}
	#Focal-Unit-B-Selector{
		label{
			color: $mint;
		}
	}

	#Variable-X-Selector{
		margin-right: 10px;
	}

	.selector-container{
		@extend %flex-row;

	}

	.time-dropdown{
		max-width: 90px;
	}

	.focal-dropdown,
	.variable-dropdown{
		max-width: 180px;
	}

	.dropdown-selector{
		@extend %flex-column;
		justify-content:flex-start;

		label{
			font-size: 10px;
		}
	}


}

@media screen and (max-width:600px){
	#Controller{
		min-height:300px;

		.controller-container{
			flex-direction:column;
			justify-content:center;

			#Focal-Unit-Selectors{
				flex-direction:column;
				// flex-wrap:wrap;
			}

			#Variable-Selectors{
				flex-direction:column;
				// flex-wrap:wrap;
			}

			.controller-text{
				margin-top: 10px;
			}

		}
	}

}