

#Controller{
	padding:2px;
	@extend %flex-row;
	@extend %outer-margin;
	justify-content:flex-start;
	align-items: center;
	// flex-wrap:wrap;
	background-color:white;
	border:2px solid $mint;
	box-shadow: 3px 3px $papaya;
	border-radius: 8px;

	.controller-container{
		@extend %flex-row;
	}

	#Focal-Unit-Selectors, #Variable-Selectors{
		align-items:flex-end;
		margin-right: 10px;
	}

	#Focal-Unit-A-Selector{
		margin-right: 10px;
	}

	#Variable-X-Selector{
		margin-right: 10px;
	}

	.selector-container{
		@extend %flex-row;

	}

	.dropdown-selector{
		@extend %flex-column;
		justify-content:flex-start;
		max-width:160px;

		label{
			font-size: 10px;
		}
	}


}