header{
	display: flex;
	flex-direction:row;
	align-items:center;
	justify-content:space-between;
	padding: 4px 2px 2px 2px;
	@extend %outer-margin;
	color: $mint;
	letter-spacing: 2px;
	font-size: 10px;
	text-align: center;

	#header-title{
		font-weight: 700;
		font-size: 12px;
		letter-spacing: 4px;
	}

	div{
		min-width:100px;
	}
	div:nth-child(1){
		text-align: left;
		font-weight: 400;
	}
	div:nth-child(3){
		text-align: right;
		font-weight: 400;
	}

	a{
		text-decoration: none;
		color:$mint;
	}


} // end header