<!DOCTYPE html>
<html>

<head>
  <title>Layout Template</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">  
  <!-- mapbox -->
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />
  <!-- chosen -->
  <link rel="stylesheet" type="text/css" href="js/chosen_v1.8.5/chosen.min.css">
  <!-- plotly -->
  <script type="text/javascript" src="js/plotly-latest.min.js"></script>
  <!-- main styles -->
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
</head>

<body>
  <div class="App">
    <!-- header -->
    <header class="row pad">
      <div class="logo">
        <div class="logo-placeholder"></div>
        <h4>BC Climate Explorer</h4></div>
      <div>
        <ul>
          <li><a href="#">about</a></li>
          <li><a href="#">data</a></li>
          <li><a href="#">help</a></li>
        </ul>
      </div>
    </header>
    <!-- control bar -->
    <div class="row">
      <div class="controller pad">
        <!-- compare-o-matic -->
        <div class="compare-buttons">
          <div class="compare-text">Explore</div>
          <!-- Example single danger button -->
          <div class="bec-selector-dropdown" id="zone1">
            <select data-placeholder="BEC Zone" class="chosen-select dropdown" tabindex="2">
              <option value=""></option>
              <option value="BAFAun">BAFAun - Undifferentiated</option>
              <option value="BAFAunp">BAFAunp - Undifferentiated and Parkland</option>
              <option value="BGxh1">BGxh1 - Okanagan Very Dry Hot</option>
              <option value="BGxh2">BGxh2 - Thompson Very Dry Hot</option>
              <option value="BGxh3">BGxh3 - Fraser Very Dry Hot</option>
              <option value="BGxw1">BGxw1 - Nicola Very Dry Warm</option>
              <option value="BGxw2">BGxw2 - Alkali Very Dry Warm</option>
              <option value="BWBSdk">BWBSdk - Dry Cool</option>
              <option value="BWBSmk">BWBSmk - Moist Cool</option>
              <option value="BWBSmw">BWBSmw - Moist Warm</option>
              <option value="BWBSvk">BWBSvk - Very Wet Cool</option>
              <option value="BWBSwk1">BWBSwk1 - Murray Wet Cool</option>
              <option value="BWBSwk2">BWBSwk2 - Graham Wet Cool</option>
              <option value="BWBSwk3">BWBSwk3 - Kledo Wet Cool</option>
              <option value="CDFmm">CDFmm - Moist Maritime</option>
              <option value="CMAun">CMAun - Undifferentiated</option>
              <option value="CMAunp">CMAunp - Undifferentiated and Parkland</option>
              <option value="CMAwh">CMAwh - Wet Hypermaritime</option>
              <option value="CWHdm">CWHdm - Dry Maritime</option>
              <option value="CWHds1">CWHds1 - Southern Dry Submaritime</option>
              <option value="CWHds2">CWHds2 - Central Dry Submaritime</option>
              <option value="CWHmm1">CWHmm1 - Submontane Moist Maritime</option>
              <option value="CWHmm2">CWHmm2 - Montane Moist Maritime</option>
              <option value="CWHms1">CWHms1 - Southern Moist Submaritime</option>
              <option value="CWHms2">CWHms2 - Central Moist Submaritime</option>
              <option value="CWHvh1">CWHvh1 - Southern Very Wet Hypermaritime</option>
              <option value="CWHvh2">CWHvh2 - Northern Very Wet Hypermaritime</option>
              <option value="CWHvh3">CWHvh3 - Haida Gwaii Very Wet Hypermaritime</option>
              <option value="CWHwh1">CWHwh1 - Submontane Wet Hypermaritime</option>
              <option value="CWHwh2">CWHwh2 - Montane Wet Hypermaritime</option>
              <option value="CWHwm">CWHwm - Wet Maritime</option>
              <option value="CWHws1">CWHws1 - Submontane Wet Submaritime</option>
              <option value="CWHws2">CWHws2 - Montane Wet Submaritime</option>
              <option value="CWHxm1">CWHxm1 - Eastern Very Dry Maritime</option>
              <option value="CWHxm2">CWHxm2 - Western Very Dry Maritime</option>
              <option value="ESSFdc1">ESSFdc1 - Monashee Dry Cold</option>
              <option value="ESSFdc2">ESSFdc2 - Cascade Dry Cold</option>
              <option value="ESSFdc3">ESSFdc3 - North Thompson Dry Cold</option>
              <option value="ESSFdcp">ESSFdcp - Dry Cold Parkland</option>
              <option value="ESSFdcw">ESSFdcw - Dry Cold Woodland</option>
              <option value="ESSFdk1">ESSFdk1 - Elk Dry Cool</option>
              <option value="ESSFdk2">ESSFdk2 - Columbia Dry Cool</option>
              <option value="ESSFdkp">ESSFdkp - Dry Cool Parkland</option>
              <option value="ESSFdkw">ESSFdkw - Dry Cool Woodland</option>
              <option value="ESSFdv1">ESSFdv1 - Cayoosh Dry Very Cold</option>
              <option value="ESSFdv2">ESSFdv2 - Tyaughton Dry Very Cold</option>
              <option value="ESSFdvp">ESSFdvp - Dry Very Cold Parkland</option>
              <option value="ESSFdvw">ESSFdvw - Dry Very Cold Woodland</option>
              <option value="ESSFmc">ESSFmc - Moist Cold</option>
              <option value="ESSFmcp">ESSFmcp - Moist Cold Parkland</option>
              <option value="ESSFmh">ESSFmh - Moist Hot</option>
              <option value="ESSFmk">ESSFmk - Moist Cool</option>
              <option value="ESSFmkp">ESSFmkp - Moist Cool Parkland</option>
              <option value="ESSFmm1">ESSFmm1 - Raush Moist Mild</option>
              <option value="ESSFmm2">ESSFmm2 - Robson Moist Mild</option>
              <option value="ESSFmmp">ESSFmmp - Moist Mild Parkland</option>
              <option value="ESSFmmw">ESSFmmw - Moist Mild Woodland</option>
              <option value="ESSFmv1">ESSFmv1 - Nechako Moist Very Cold</option>
              <option value="ESSFmv2">ESSFmv2 - Bullmoose Moist Very Cold</option>
              <option value="ESSFmv3">ESSFmv3 - Omineca Moist Very Cold</option>
              <option value="ESSFmv4">ESSFmv4 - Graham Moist Very Cold</option>
              <option value="ESSFmvp">ESSFmvp - Moist Very Cold Parkland</option>
              <option value="ESSFmw">ESSFmw - Moist Warm</option>
              <option value="ESSFmw1">ESSFmw1 - Cascade Moist Warm</option>
              <option value="ESSFmw2">ESSFmw2 - Stein Moist Warm</option>
              <option value="ESSFmwp">ESSFmwp - Moist Warm Parkland</option>
              <option value="ESSFmww">ESSFmww - Moist Warm Woodland</option>
              <option value="ESSFun">ESSFun - Undifferentiated</option>
              <option value="ESSFunp">ESSFunp - Undiff Parkland</option>
              <option value="ESSFvc">ESSFvc - Very Wet Cold</option>
              <option value="ESSFvcp">ESSFvcp - Very Wet Cold Parkland</option>
              <option value="ESSFvcw">ESSFvcw - Very Wet Cold Woodland</option>
              <option value="ESSFwc2">ESSFwc2 - Monashee Wet Cold</option>
              <option value="ESSFwc2w">ESSFwc2w - Monashee Wet Cold - Warm phase</option>
              <option value="ESSFwc3">ESSFwc3 - Cariboo Wet Cold</option>
              <option value="ESSFwc4">ESSFwc4 - Selkirk Wet Cold</option>
              <option value="ESSFwcp">ESSFwcp - Wet Cold Parkland</option>
              <option value="ESSFwcw">ESSFwcw - Wet Cold Woodland</option>
              <option value="ESSFwh1">ESSFwh1 - Columbia Wet Hot</option>
              <option value="ESSFwh2">ESSFwh2 - St Mary Wet Hot</option>
              <option value="ESSFwh3">ESSFwh3 - Salmo Wet Hot</option>
              <option value="ESSFwk1">ESSFwk1 - Cariboo Wet Cool</option>
              <option value="ESSFwk2">ESSFwk2 - Misinchinka Wet Cool</option>
              <option value="ESSFwm1">ESSFwm1 - Fernie Wet Mild</option>
              <option value="ESSFwm2">ESSFwm2 - Purcell Wet Mild</option>
              <option value="ESSFwm3">ESSFwm3 - Ymir Wet Mild</option>
              <option value="ESSFwm4">ESSFwm4 - Moyie Wet Mild</option>
              <option value="ESSFwmp">ESSFwmp - Wet Mild Parkland</option>
              <option value="ESSFwmw">ESSFwmw - Wet Mild Woodland</option>
              <option value="ESSFwv">ESSFwv - Wet Very Cold</option>
              <option value="ESSFwvp">ESSFwvp - Wet Very Cold Parkland</option>
              <option value="ESSFxc1">ESSFxc1 - Similkameen Very Dry Cold</option>
              <option value="ESSFxc2">ESSFxc2 - Thompson Very Dry Cold</option>
              <option value="ESSFxc3">ESSFxc3 - Pavillion Very Dry Cold</option>
              <option value="ESSFxcp">ESSFxcp - Very Dry Cold Parkland</option>
              <option value="ESSFxcw">ESSFxcw - Very Dry Cold Woodland</option>
              <option value="ESSFxv1">ESSFxv1 - West Chilcotin Very Dry Very Cold</option>
              <option value="ESSFxv2">ESSFxv2 - Big Creek Very Dry Very Cold</option>
              <option value="ESSFxvp">ESSFxvp - Very Dry Very Cold Parkland</option>
              <option value="ESSFxvw">ESSFxvw - Very Dry Very Cold Woodland</option>
              <option value="ICHdk">ICHdk - Dry Cool</option>
              <option value="ICHdm">ICHdm - Dry Mild</option>
              <option value="ICHdw1">ICHdw1 - West Kootenay Dry Warm</option>
              <option value="ICHdw3">ICHdw3 - North Thompson Dry Warm</option>
              <option value="ICHdw4">ICHdw4 - Shuswap Dry Warm</option>
              <option value="ICHmc1">ICHmc1 - Nass Moist Cold</option>
              <option value="ICHmc1a">ICHmc1a - Nass Moist Cold - Amabilis fir phase</option>
              <option value="ICHmc2">ICHmc2 - Hazelton Moist Cold</option>
              <option value="ICHmk1">ICHmk1 - Okanagan Moist Cool</option>
              <option value="ICHmk2">ICHmk2 - Thompson Moist Cool</option>
              <option value="ICHmk3">ICHmk3 - Horsefly Moist Cool</option>
              <option value="ICHmk4">ICHmk4 - Kootenay Moist Cool</option>
              <option value="ICHmm">ICHmm - Moist Mild</option>
              <option value="ICHmw1">ICHmw1 - Kinbasket Moist Warm</option>
              <option value="ICHmw2">ICHmw2 - Shuswap Moist Warm</option>
              <option value="ICHmw3">ICHmw3 - Thompson Moist Warm</option>
              <option value="ICHmw4">ICHmw4 - Ymir Moist Warm</option>
              <option value="ICHmw5">ICHmw5 - Granby Moist Warm</option>
              <option value="ICHvc">ICHvc - Very Wet Cold</option>
              <option value="ICHvk1">ICHvk1 - Columbia Very Wet Cool</option>
              <option value="ICHvk2">ICHvk2 - Slim Very Wet Cool</option>
              <option value="ICHwc">ICHwc - Wet Cold</option>
              <option value="ICHwk1">ICHwk1 - Shuswap Wet Cool</option>
              <option value="ICHwk2">ICHwk2 - Quesnel Wet Cool</option>
              <option value="ICHwk3">ICHwk3 - Goat Wet Cool</option>
              <option value="ICHwk4">ICHwk4 - Cariboo Wet Cool</option>
              <option value="ICHxw">ICHxw - Very Dry Warm</option>
              <option value="ICHxwa">ICHxwa - Very Dry Warm</option>
              <option value="IDFdc">IDFdc - Dry Cold</option>
              <option value="IDFdk1">IDFdk1 - Thompson Dry Cool</option>
              <option value="IDFdk2">IDFdk2 - Cascade Dry Cool</option>
              <option value="IDFdk3">IDFdk3 - Fraser Dry Cool</option>
              <option value="IDFdk4">IDFdk4 - Chilcotin Dry Cool</option>
              <option value="IDFdk5">IDFdk5 - Columbia Dry Cool</option>
              <option value="IDFdm1">IDFdm1 - Kettle Dry Mild</option>
              <option value="IDFdm2">IDFdm2 - Kootenay Dry Mild</option>
              <option value="IDFdw">IDFdw - Dry Warm</option>
              <option value="IDFmw1">IDFmw1 - Shuswap Moist Warm</option>
              <option value="IDFmw2">IDFmw2 - Thompson Moist Warm</option>
              <option value="IDFww">IDFww - Wet Warm</option>
              <option value="IDFww1">IDFww1 - Stein Wet Warm</option>
              <option value="IDFxc">IDFxc - Very Dry Cold</option>
              <option value="IDFxh1">IDFxh1 - Okanagan Very Dry Hot</option>
              <option value="IDFxh2">IDFxh2 - Thompson Very Dry Hot</option>
              <option value="IDFxk">IDFxk - Very Dry Cool</option>
              <option value="IDFxm">IDFxm - Very Dry Mild</option>
              <option value="IDFxw">IDFxw - Very Dry Warm</option>
              <option value="IMAun">IMAun - Undifferentiated</option>
              <option value="IMAunp">IMAunp - Undifferentiated and Parkland</option>
              <option value="MHmmp">MHmmp - Moist Maritime Parkland</option>
              <option value="MHun">MHun - Undifferentiated</option>
              <option value="MHunp">MHunp - Undifferentiated Parkland</option>
              <option value="MHwh">MHwh - Wet Hypermaritime</option>
              <option value="MHwh1">MHwh1 - Windward</option>
              <option value="MHwhp">MHwhp - Wet Hypermaritime Parkland</option>
              <option value="MSdc1">MSdc1 - Cayoosh Dry Cold</option>
              <option value="MSdc2">MSdc2 - Tatlayoko Dry Cold</option>
              <option value="MSdc3">MSdc3 - Tyaughton Dry Cold</option>
              <option value="MSdm1">MSdm1 - Okanagan Dry Mild</option>
              <option value="MSdm2">MSdm2 - Cascade Dry Mild</option>
              <option value="MSdm3">MSdm3 - North Thompson Dry Mild</option>
              <option value="MSdm3w">MSdm3w - North Thompson Dry Mild - Warm phase</option>
              <option value="MSdv">MSdv - Dry Very Cold</option>
              <option value="MSmw1">MSmw1 - Cascade Moist Warm</option>
              <option value="MSmw2">MSmw2 - Stein Moist Warm</option>
              <option value="MSun">MSun - Undifferentiated</option>
              <option value="MSxk1">MSxk1 - Similkameen Very Dry Cool</option>
              <option value="MSxk2">MSxk2 - South Thompson Very Dry Cool</option>
              <option value="MSxk3">MSxk3 - Pavillion Very Dry Cool</option>
              <option value="MSxv">MSxv - Very Dry Very Cold</option>
              <option value="PPxh1">PPxh1 - Okanagan Very Dry Hot</option>
              <option value="PPxh2">PPxh2 - Thompson Very Dry Hot</option>
              <option value="SBPSdc">SBPSdc - Dry Cold</option>
              <option value="SBPSmc">SBPSmc - Moist Cold</option>
              <option value="SBPSmk">SBPSmk - Moist Cool</option>
              <option value="SBPSxc">SBPSxc - Very Dry Cold</option>
              <option value="SBSdh1">SBSdh1 - McLennan Dry Hot</option>
              <option value="SBSdh2">SBSdh2 - Robson Dry Hot</option>
              <option value="SBSdk">SBSdk - Dry Cool</option>
              <option value="SBSdw1">SBSdw1 - Horsefly Dry Warm</option>
              <option value="SBSdw2">SBSdw2 - Blackwater Dry Warm</option>
              <option value="SBSdw3">SBSdw3 - Stuart Dry Warm</option>
              <option value="SBSmc1">SBSmc1 - Moffat Moist Cold</option>
              <option value="SBSmc2">SBSmc2 - Babine Moist Cold</option>
              <option value="SBSmc3">SBSmc3 - Kluskus Moist Cold</option>
              <option value="SBSmh">SBSmh - Moist Hot</option>
              <option value="SBSmk1">SBSmk1 - Mossvale Moist Cool</option>
              <option value="SBSmk2">SBSmk2 - Williston Moist Cool</option>
              <option value="SBSmm">SBSmm - Moist Mild</option>
              <option value="SBSmw">SBSmw - Moist Warm</option>
              <option value="SBSun">SBSun - Undifferentiated</option>
              <option value="SBSvk">SBSvk - Very Wet Cool</option>
              <option value="SBSwk1">SBSwk1 - Willow Wet Cool</option>
              <option value="SBSwk2">SBSwk2 - Finlay-Peace Wet Cool</option>
              <option value="SBSwk3">SBSwk3 - Takla Wet Cool</option>
              <option value="SBSwk3a">SBSwk3a - Takla Wet Cool - Douglas-fir phase</option>
              <option value="SWBmk">SWBmk - Moist Cool</option>
              <option value="SWBmks">SWBmks - Moist Cool Scrub</option>
              <option value="SWBun">SWBun - Undifferentiated</option>
              <option value="SWBuns">SWBuns - Undifferentiated Scrub</option>
              <option value="SWBvk">SWBvk - Very Wet Cool</option>
              <option value="SWBvks">SWBvks - Very Wet Cool Scrub</option>
            </select>
          </div>
          <div class="compare-text">and/or</div>
          <div class="bec-selector-dropdown" id="zone2">
            <select data-placeholder="BEC Zone" class="chosen-select dropdown" tabindex="2">
              <option value=""></option>
              <option value="BAFAun">BAFAun - Undifferentiated</option>
              <option value="BAFAunp">BAFAunp - Undifferentiated and Parkland</option>
              <option value="BGxh1">BGxh1 - Okanagan Very Dry Hot</option>
              <option value="BGxh2">BGxh2 - Thompson Very Dry Hot</option>
              <option value="BGxh3">BGxh3 - Fraser Very Dry Hot</option>
              <option value="BGxw1">BGxw1 - Nicola Very Dry Warm</option>
              <option value="BGxw2">BGxw2 - Alkali Very Dry Warm</option>
              <option value="BWBSdk">BWBSdk - Dry Cool</option>
              <option value="BWBSmk">BWBSmk - Moist Cool</option>
              <option value="BWBSmw">BWBSmw - Moist Warm</option>
              <option value="BWBSvk">BWBSvk - Very Wet Cool</option>
              <option value="BWBSwk1">BWBSwk1 - Murray Wet Cool</option>
              <option value="BWBSwk2">BWBSwk2 - Graham Wet Cool</option>
              <option value="BWBSwk3">BWBSwk3 - Kledo Wet Cool</option>
              <option value="CDFmm">CDFmm - Moist Maritime</option>
              <option value="CMAun">CMAun - Undifferentiated</option>
              <option value="CMAunp">CMAunp - Undifferentiated and Parkland</option>
              <option value="CMAwh">CMAwh - Wet Hypermaritime</option>
              <option value="CWHdm">CWHdm - Dry Maritime</option>
              <option value="CWHds1">CWHds1 - Southern Dry Submaritime</option>
              <option value="CWHds2">CWHds2 - Central Dry Submaritime</option>
              <option value="CWHmm1">CWHmm1 - Submontane Moist Maritime</option>
              <option value="CWHmm2">CWHmm2 - Montane Moist Maritime</option>
              <option value="CWHms1">CWHms1 - Southern Moist Submaritime</option>
              <option value="CWHms2">CWHms2 - Central Moist Submaritime</option>
              <option value="CWHvh1">CWHvh1 - Southern Very Wet Hypermaritime</option>
              <option value="CWHvh2">CWHvh2 - Northern Very Wet Hypermaritime</option>
              <option value="CWHvh3">CWHvh3 - Haida Gwaii Very Wet Hypermaritime</option>
              <option value="CWHwh1">CWHwh1 - Submontane Wet Hypermaritime</option>
              <option value="CWHwh2">CWHwh2 - Montane Wet Hypermaritime</option>
              <option value="CWHwm">CWHwm - Wet Maritime</option>
              <option value="CWHws1">CWHws1 - Submontane Wet Submaritime</option>
              <option value="CWHws2">CWHws2 - Montane Wet Submaritime</option>
              <option value="CWHxm1">CWHxm1 - Eastern Very Dry Maritime</option>
              <option value="CWHxm2">CWHxm2 - Western Very Dry Maritime</option>
              <option value="ESSFdc1">ESSFdc1 - Monashee Dry Cold</option>
              <option value="ESSFdc2">ESSFdc2 - Cascade Dry Cold</option>
              <option value="ESSFdc3">ESSFdc3 - North Thompson Dry Cold</option>
              <option value="ESSFdcp">ESSFdcp - Dry Cold Parkland</option>
              <option value="ESSFdcw">ESSFdcw - Dry Cold Woodland</option>
              <option value="ESSFdk1">ESSFdk1 - Elk Dry Cool</option>
              <option value="ESSFdk2">ESSFdk2 - Columbia Dry Cool</option>
              <option value="ESSFdkp">ESSFdkp - Dry Cool Parkland</option>
              <option value="ESSFdkw">ESSFdkw - Dry Cool Woodland</option>
              <option value="ESSFdv1">ESSFdv1 - Cayoosh Dry Very Cold</option>
              <option value="ESSFdv2">ESSFdv2 - Tyaughton Dry Very Cold</option>
              <option value="ESSFdvp">ESSFdvp - Dry Very Cold Parkland</option>
              <option value="ESSFdvw">ESSFdvw - Dry Very Cold Woodland</option>
              <option value="ESSFmc">ESSFmc - Moist Cold</option>
              <option value="ESSFmcp">ESSFmcp - Moist Cold Parkland</option>
              <option value="ESSFmh">ESSFmh - Moist Hot</option>
              <option value="ESSFmk">ESSFmk - Moist Cool</option>
              <option value="ESSFmkp">ESSFmkp - Moist Cool Parkland</option>
              <option value="ESSFmm1">ESSFmm1 - Raush Moist Mild</option>
              <option value="ESSFmm2">ESSFmm2 - Robson Moist Mild</option>
              <option value="ESSFmmp">ESSFmmp - Moist Mild Parkland</option>
              <option value="ESSFmmw">ESSFmmw - Moist Mild Woodland</option>
              <option value="ESSFmv1">ESSFmv1 - Nechako Moist Very Cold</option>
              <option value="ESSFmv2">ESSFmv2 - Bullmoose Moist Very Cold</option>
              <option value="ESSFmv3">ESSFmv3 - Omineca Moist Very Cold</option>
              <option value="ESSFmv4">ESSFmv4 - Graham Moist Very Cold</option>
              <option value="ESSFmvp">ESSFmvp - Moist Very Cold Parkland</option>
              <option value="ESSFmw">ESSFmw - Moist Warm</option>
              <option value="ESSFmw1">ESSFmw1 - Cascade Moist Warm</option>
              <option value="ESSFmw2">ESSFmw2 - Stein Moist Warm</option>
              <option value="ESSFmwp">ESSFmwp - Moist Warm Parkland</option>
              <option value="ESSFmww">ESSFmww - Moist Warm Woodland</option>
              <option value="ESSFun">ESSFun - Undifferentiated</option>
              <option value="ESSFunp">ESSFunp - Undiff Parkland</option>
              <option value="ESSFvc">ESSFvc - Very Wet Cold</option>
              <option value="ESSFvcp">ESSFvcp - Very Wet Cold Parkland</option>
              <option value="ESSFvcw">ESSFvcw - Very Wet Cold Woodland</option>
              <option value="ESSFwc2">ESSFwc2 - Monashee Wet Cold</option>
              <option value="ESSFwc2w">ESSFwc2w - Monashee Wet Cold - Warm phase</option>
              <option value="ESSFwc3">ESSFwc3 - Cariboo Wet Cold</option>
              <option value="ESSFwc4">ESSFwc4 - Selkirk Wet Cold</option>
              <option value="ESSFwcp">ESSFwcp - Wet Cold Parkland</option>
              <option value="ESSFwcw">ESSFwcw - Wet Cold Woodland</option>
              <option value="ESSFwh1">ESSFwh1 - Columbia Wet Hot</option>
              <option value="ESSFwh2">ESSFwh2 - St Mary Wet Hot</option>
              <option value="ESSFwh3">ESSFwh3 - Salmo Wet Hot</option>
              <option value="ESSFwk1">ESSFwk1 - Cariboo Wet Cool</option>
              <option value="ESSFwk2">ESSFwk2 - Misinchinka Wet Cool</option>
              <option value="ESSFwm1">ESSFwm1 - Fernie Wet Mild</option>
              <option value="ESSFwm2">ESSFwm2 - Purcell Wet Mild</option>
              <option value="ESSFwm3">ESSFwm3 - Ymir Wet Mild</option>
              <option value="ESSFwm4">ESSFwm4 - Moyie Wet Mild</option>
              <option value="ESSFwmp">ESSFwmp - Wet Mild Parkland</option>
              <option value="ESSFwmw">ESSFwmw - Wet Mild Woodland</option>
              <option value="ESSFwv">ESSFwv - Wet Very Cold</option>
              <option value="ESSFwvp">ESSFwvp - Wet Very Cold Parkland</option>
              <option value="ESSFxc1">ESSFxc1 - Similkameen Very Dry Cold</option>
              <option value="ESSFxc2">ESSFxc2 - Thompson Very Dry Cold</option>
              <option value="ESSFxc3">ESSFxc3 - Pavillion Very Dry Cold</option>
              <option value="ESSFxcp">ESSFxcp - Very Dry Cold Parkland</option>
              <option value="ESSFxcw">ESSFxcw - Very Dry Cold Woodland</option>
              <option value="ESSFxv1">ESSFxv1 - West Chilcotin Very Dry Very Cold</option>
              <option value="ESSFxv2">ESSFxv2 - Big Creek Very Dry Very Cold</option>
              <option value="ESSFxvp">ESSFxvp - Very Dry Very Cold Parkland</option>
              <option value="ESSFxvw">ESSFxvw - Very Dry Very Cold Woodland</option>
              <option value="ICHdk">ICHdk - Dry Cool</option>
              <option value="ICHdm">ICHdm - Dry Mild</option>
              <option value="ICHdw1">ICHdw1 - West Kootenay Dry Warm</option>
              <option value="ICHdw3">ICHdw3 - North Thompson Dry Warm</option>
              <option value="ICHdw4">ICHdw4 - Shuswap Dry Warm</option>
              <option value="ICHmc1">ICHmc1 - Nass Moist Cold</option>
              <option value="ICHmc1a">ICHmc1a - Nass Moist Cold - Amabilis fir phase</option>
              <option value="ICHmc2">ICHmc2 - Hazelton Moist Cold</option>
              <option value="ICHmk1">ICHmk1 - Okanagan Moist Cool</option>
              <option value="ICHmk2">ICHmk2 - Thompson Moist Cool</option>
              <option value="ICHmk3">ICHmk3 - Horsefly Moist Cool</option>
              <option value="ICHmk4">ICHmk4 - Kootenay Moist Cool</option>
              <option value="ICHmm">ICHmm - Moist Mild</option>
              <option value="ICHmw1">ICHmw1 - Kinbasket Moist Warm</option>
              <option value="ICHmw2">ICHmw2 - Shuswap Moist Warm</option>
              <option value="ICHmw3">ICHmw3 - Thompson Moist Warm</option>
              <option value="ICHmw4">ICHmw4 - Ymir Moist Warm</option>
              <option value="ICHmw5">ICHmw5 - Granby Moist Warm</option>
              <option value="ICHvc">ICHvc - Very Wet Cold</option>
              <option value="ICHvk1">ICHvk1 - Columbia Very Wet Cool</option>
              <option value="ICHvk2">ICHvk2 - Slim Very Wet Cool</option>
              <option value="ICHwc">ICHwc - Wet Cold</option>
              <option value="ICHwk1">ICHwk1 - Shuswap Wet Cool</option>
              <option value="ICHwk2">ICHwk2 - Quesnel Wet Cool</option>
              <option value="ICHwk3">ICHwk3 - Goat Wet Cool</option>
              <option value="ICHwk4">ICHwk4 - Cariboo Wet Cool</option>
              <option value="ICHxw">ICHxw - Very Dry Warm</option>
              <option value="ICHxwa">ICHxwa - Very Dry Warm</option>
              <option value="IDFdc">IDFdc - Dry Cold</option>
              <option value="IDFdk1">IDFdk1 - Thompson Dry Cool</option>
              <option value="IDFdk2">IDFdk2 - Cascade Dry Cool</option>
              <option value="IDFdk3">IDFdk3 - Fraser Dry Cool</option>
              <option value="IDFdk4">IDFdk4 - Chilcotin Dry Cool</option>
              <option value="IDFdk5">IDFdk5 - Columbia Dry Cool</option>
              <option value="IDFdm1">IDFdm1 - Kettle Dry Mild</option>
              <option value="IDFdm2">IDFdm2 - Kootenay Dry Mild</option>
              <option value="IDFdw">IDFdw - Dry Warm</option>
              <option value="IDFmw1">IDFmw1 - Shuswap Moist Warm</option>
              <option value="IDFmw2">IDFmw2 - Thompson Moist Warm</option>
              <option value="IDFww">IDFww - Wet Warm</option>
              <option value="IDFww1">IDFww1 - Stein Wet Warm</option>
              <option value="IDFxc">IDFxc - Very Dry Cold</option>
              <option value="IDFxh1">IDFxh1 - Okanagan Very Dry Hot</option>
              <option value="IDFxh2">IDFxh2 - Thompson Very Dry Hot</option>
              <option value="IDFxk">IDFxk - Very Dry Cool</option>
              <option value="IDFxm">IDFxm - Very Dry Mild</option>
              <option value="IDFxw">IDFxw - Very Dry Warm</option>
              <option value="IMAun">IMAun - Undifferentiated</option>
              <option value="IMAunp">IMAunp - Undifferentiated and Parkland</option>
              <option value="MHmmp">MHmmp - Moist Maritime Parkland</option>
              <option value="MHun">MHun - Undifferentiated</option>
              <option value="MHunp">MHunp - Undifferentiated Parkland</option>
              <option value="MHwh">MHwh - Wet Hypermaritime</option>
              <option value="MHwh1">MHwh1 - Windward</option>
              <option value="MHwhp">MHwhp - Wet Hypermaritime Parkland</option>
              <option value="MSdc1">MSdc1 - Cayoosh Dry Cold</option>
              <option value="MSdc2">MSdc2 - Tatlayoko Dry Cold</option>
              <option value="MSdc3">MSdc3 - Tyaughton Dry Cold</option>
              <option value="MSdm1">MSdm1 - Okanagan Dry Mild</option>
              <option value="MSdm2">MSdm2 - Cascade Dry Mild</option>
              <option value="MSdm3">MSdm3 - North Thompson Dry Mild</option>
              <option value="MSdm3w">MSdm3w - North Thompson Dry Mild - Warm phase</option>
              <option value="MSdv">MSdv - Dry Very Cold</option>
              <option value="MSmw1">MSmw1 - Cascade Moist Warm</option>
              <option value="MSmw2">MSmw2 - Stein Moist Warm</option>
              <option value="MSun">MSun - Undifferentiated</option>
              <option value="MSxk1">MSxk1 - Similkameen Very Dry Cool</option>
              <option value="MSxk2">MSxk2 - South Thompson Very Dry Cool</option>
              <option value="MSxk3">MSxk3 - Pavillion Very Dry Cool</option>
              <option value="MSxv">MSxv - Very Dry Very Cold</option>
              <option value="PPxh1">PPxh1 - Okanagan Very Dry Hot</option>
              <option value="PPxh2">PPxh2 - Thompson Very Dry Hot</option>
              <option value="SBPSdc">SBPSdc - Dry Cold</option>
              <option value="SBPSmc">SBPSmc - Moist Cold</option>
              <option value="SBPSmk">SBPSmk - Moist Cool</option>
              <option value="SBPSxc">SBPSxc - Very Dry Cold</option>
              <option value="SBSdh1">SBSdh1 - McLennan Dry Hot</option>
              <option value="SBSdh2">SBSdh2 - Robson Dry Hot</option>
              <option value="SBSdk">SBSdk - Dry Cool</option>
              <option value="SBSdw1">SBSdw1 - Horsefly Dry Warm</option>
              <option value="SBSdw2">SBSdw2 - Blackwater Dry Warm</option>
              <option value="SBSdw3">SBSdw3 - Stuart Dry Warm</option>
              <option value="SBSmc1">SBSmc1 - Moffat Moist Cold</option>
              <option value="SBSmc2">SBSmc2 - Babine Moist Cold</option>
              <option value="SBSmc3">SBSmc3 - Kluskus Moist Cold</option>
              <option value="SBSmh">SBSmh - Moist Hot</option>
              <option value="SBSmk1">SBSmk1 - Mossvale Moist Cool</option>
              <option value="SBSmk2">SBSmk2 - Williston Moist Cool</option>
              <option value="SBSmm">SBSmm - Moist Mild</option>
              <option value="SBSmw">SBSmw - Moist Warm</option>
              <option value="SBSun">SBSun - Undifferentiated</option>
              <option value="SBSvk">SBSvk - Very Wet Cool</option>
              <option value="SBSwk1">SBSwk1 - Willow Wet Cool</option>
              <option value="SBSwk2">SBSwk2 - Finlay-Peace Wet Cool</option>
              <option value="SBSwk3">SBSwk3 - Takla Wet Cool</option>
              <option value="SBSwk3a">SBSwk3a - Takla Wet Cool - Douglas-fir phase</option>
              <option value="SWBmk">SWBmk - Moist Cool</option>
              <option value="SWBmks">SWBmks - Moist Cool Scrub</option>
              <option value="SWBun">SWBun - Undifferentiated</option>
              <option value="SWBuns">SWBuns - Undifferentiated Scrub</option>
              <option value="SWBvk">SWBvk - Very Wet Cool</option>
              <option value="SWBvks">SWBvks - Very Wet Cool Scrub</option>
            </select>
          </div>
        </div>
        <div class="compare-text">for X:</div>
        <!-- variable 1 -->
        <div class="compare-buttons">
          <div class="bec-selector-dropdown" id="xTime">
            <select data-placeholder="Time" class="chosen-select dropdown" tabindex="2">
              <option value=""></option>
              <option value="Annual">Annual</option>
              <option value="Winter">Winter</option>
              <option value="Spring">Spring</option>
              <option value="Summer">Summer</option>
              <option value="Fall">Fall</option>
              <option value="January">January</option>
              <option value="February">February</option>
              <option value="March">March</option>
              <option value="April">April</option>
              <option value="May">May</option>
              <option value="June">June</option>
              <option value="July">July</option>
              <option value="August">August</option>
              <option value="September">September</option>
              <option value="October">October</option>
              <option value="November">November</option>
              <option value="December">December</option>
            </select>
          </div>
          <div class="bec-selector-dropdown" id="xVar">
            <select data-placeholder="Climate Variable" class="chosen-select dropdown" tabindex="2">
              <option value=""></option>
              <option label="annual" value="MAT">MAT - Mean annual temperature (&deg;C)</option>
              <option label="annual" value="MAP">MAP - Annual precipitation (mm)</option>
              <option label="annual" value="MSP">MSP - Growing season (May to September) precipitation (mm)</option>
              <option label="annual" value="MWMT">MWMT - Mean warmest month temperature (&deg;C)</option>
              <option label="annual" value="MCMT">MCMT - Mean coldest month temperature (&deg;C)</option>
              <option label="annual" value="TD">TD - Temperature difference between MWMT and MCMT, or continentality (&deg;C)</option>
              <option label="annual" value="AHM">AHM - Annual heat:moisture index (MAT+10)/(MAP/1000))</option>
              <option label="annual" value="SHM">SHM - Summer heat:moisture index ((MWMT)/(MSP/1000))</option>
              <option label="annual" value="EMT">EMT - Extreme minimum temperature over 30 years</option>
              <option label="annual" value="EXT">EXT - Extreme maximum temperature over 30 years</option>
              <option label="annual" value="FFP">FFP - Frost-free period</option>
              <option label="annual" value="bFFP">bFFP - The Julian date on which FFP begins</option>
              <option label="annual" value="eFFP">eFFP - The Julian date on which FFP ends</option>
              <option label="nonannual" value="Tave">Tave - Mean temperature (&deg;C)</option>
              <option label="nonannual" value="Tmax">Tmax - Mean daily maximum temperature (&deg;C)</option>
              <option label="nonannual" value="Tmin">Tmin - Mean daily minimum temperature (&deg;C)</option>
              <option label="nonannual" value="PPT">PPT - Precipitation (mm)</option>
              <option label="nonannual" value="DD_0">DD_0 - Degree-days below 0&deg;C (chilling degree-days)</option>
              <option label="nonannual" value="DD5">DD5 - Degree-days above 5&deg;C, growing degree-days</option>
              <option label="nonannual" value="DD_18">DD_18 - Degree-days below 18&deg;C (heating degree-days)</option>
              <option label="nonannual" value="DD18">DD18 - Degree-days above 18&deg;C (cooling degree-days)</option>
              <option label="nonannual" value="NFFD">NFFD - Number of frost-free days</option>
              <option label="nonannual" value="PAS">PAS - Precipitation as snow (mm)</option>
              <option label="nonannual" value="Eref">Eref - Hargreaves reference evaporation</option>
              <option label="nonannual" value="CMD">CMD - Hargreaves climatic moisture deficit</option>
              <option label="nonannual" value="RH">RH - Relative humidity</option>
            </select>
          </div>
          <div class="log-checkbox">
            <input type="checkbox" id="log-var-1">
            <small>log</small>
          </div>
        </div>
        <div class="compare-text">and Y:</div>
        <!-- variable 2 -->
        <div class="compare-buttons">
          <div class="bec-selector-dropdown" id="yTime">
            <select data-placeholder="Time" class="chosen-select dropdown" tabindex="2">
              <option value=""></option>
              <option value="Annual">Annual</option>
              <option value="Winter">Winter</option>
              <option value="Spring">Spring</option>
              <option value="Summer">Summer</option>
              <option value="Fall">Fall</option>
              <option value="January">January</option>
              <option value="February">February</option>
              <option value="March">March</option>
              <option value="April">April</option>
              <option value="May">May</option>
              <option value="June">June</option>
              <option value="July">July</option>
              <option value="August">August</option>
              <option value="September">September</option>
              <option value="October">October</option>
              <option value="November">November</option>
              <option value="December">December</option>
            </select>
          </div>
          <div class="bec-selector-dropdown" id="yVar">
            <select data-placeholder="Climate Variable" class="chosen-select dropdown" tabindex="2">
              <option value=""></option>
              <option label="annual" value="MAT">MAT - Mean annual temperature (&deg;C)</option>
              <option label="annual" value="MAP">MAP - Annual precipitation (mm)</option>
              <option label="annual" value="MSP">MSP - Growing season (May to September) precipitation (mm)</option>
              <option label="annual" value="MWMT">MWMT - Mean warmest month temperature (&deg;C)</option>
              <option label="annual" value="MCMT">MCMT - Mean coldest month temperature (&deg;C)</option>
              <option label="annual" value="TD">TD - Temperature difference between MWMT and MCMT, or continentality (&deg;C)</option>
              <option label="annual" value="AHM">AHM - Annual heat:moisture index (MAT+10)/(MAP/1000))</option>
              <option label="annual" value="SHM">SHM - Summer heat:moisture index ((MWMT)/(MSP/1000))</option>
              <option label="annual" value="EMT">EMT - Extreme minimum temperature over 30 years</option>
              <option label="annual" value="EXT">EXT - Extreme maximum temperature over 30 years</option>
              <option label="annual" value="FFP">FFP - Frost-free period</option>
              <option label="annual" value="bFFP">bFFP - The Julian date on which FFP begins</option>
              <option label="annual" value="eFFP">eFFP - The Julian date on which FFP ends</option>
              <option label="nonannual" value="Tave">Tave - Mean temperature (&deg;C)</option>
              <option label="nonannual" value="Tmax">Tmax - Mean daily maximum temperature (&deg;C)</option>
              <option label="nonannual" value="Tmin">Tmin - Mean daily minimum temperature (&deg;C)</option>
              <option label="nonannual" value="PPT">PPT - Precipitation (mm)</option>
              <option label="nonannual" value="DD_0">DD_0 - Degree-days below 0&deg;C (chilling degree-days)</option>
              <option label="nonannual" value="DD5">DD5 - Degree-days above 5&deg;C, growing degree-days</option>
              <option label="nonannual" value="DD_18">DD_18 - Degree-days below 18&deg;C (heating degree-days)</option>
              <option label="nonannual" value="DD18">DD18 - Degree-days above 18&deg;C (cooling degree-days)</option>
              <option label="nonannual" value="NFFD">NFFD - Number of frost-free days</option>
              <option label="nonannual" value="PAS">PAS - Precipitation as snow (mm)</option>
              <option label="nonannual" value="Eref">Eref - Hargreaves reference evaporation</option>
              <option label="nonannual" value="CMD">CMD - Hargreaves climatic moisture deficit</option>
              <option label="nonannual" value="RH">RH - Relative humidity</option>
            </select>
          </div>
          <div class="log-checkbox">
            <input type="checkbox" id="log-var-1">
            <small>log</small>
          </div>
        </div>
      </div>
    </div>
    <main>
      <!-- row: map and scatterplot -->
      <div class="row" id="row-primary">
        <div class="col-6">
          <!-- map -->
          <div id="map-container">
            <!-- title -->
            <div class="chart-title"><small>Biogeoclimatic Zones & Climate Map</small></div>
            <!-- map controls -->
            <div class="map-variable-selectors">
              <div class="map-control-button">BEC
                <br>ZONE</div>
              <div class="map-control-button">BEC
                <br>UNIT</div>
              <div class="map-control-button" id="map-xVar-button"><span id="map-xTime"></span>
                <br><span id="map-xVar"></span></div>
              <div class="map-control-button" id="map-xVar-button"><span id="map-yTime"></span>
                <br><span id="map-yVar"></span></div>
            </div>
            <div class="map-controls active">
              <!-- zoomers -->
              <!-- <div class="zoomers">
                    <div class="zoomer">
                        <div>+</div>
                    </div>
                    <div class="zoomer">
                        <div>-</div>
                    </div>
                </div> -->
              <!-- toggle tab -->
              <div class="map-controls-switch">menu</div>
              <div class="map-controls-main">
                <!-- map legend -->
                <div class="map-legend">
                  <div></div>
                </div>
                <!-- basemap switcher -->
                <div class="map-basemap-switcher">
                  <div>AERIAL</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- scatterplot -->
        <div class="col-6">
          <!-- chart container -->
          <div id="scatterplot-container">
            <div class="chart-title"><small>scatterplot</small></div>
            <div id="scatterplot-1"></div>
          </div>
        </div>
      </div>
      <!-- row: timeseries maps 1 and 2 -->
      <div class="row" id="row-secondary">
        <div class="col-6">
          <div class="timeseries-chart-container">
            <div class="chart-title"><small>variable 1 timeseries</small></div>
            <div id="timeseries-1"></div>
          </div>
        </div>
        <div class="col-6">
          <div class="timeseries-chart-container">
            <div class="chart-title"><small>variable 2 timeseries</small></div>
            <div id="timeseries-2"></div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <!--end .App-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <!-- mapbox -->
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script>
  <!-- chosen -->
  <script type="text/javascript" src="js/chosen_v1.8.5/chosen.jquery.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
</body>

</html>